@font-face {
    font-family:'BebasNeue-Regular' ;
    src: url(datas/fonts/BebasNeue-Regular.ttf);
}

body{
    background-color: black;
    color: white;
    font-family: 'BebasNeue-Regular';
}

.container{
    margin: 20px 10% 20px 10%;
    min-width: 800px;
}
/* -------- CSS navBar -------- */
#navBar{
    display: flex;

}
#navItem{
    display: flex;
    width: 35%;
    margin-left: auto;
    

}
#navBar h1{
    font-size: 4em;
    margin-left: 40px;
    color: red;
    margin-bottom: 0;
    margin-top: 0;
}
#navItem p {
    font-size: 2em;
    margin: 20px;
    

    
}

/* -------- CSS bestMovie -------- */
#containerBestMovie{
    display: flex;
    background-color: rgba(25, 25, 25, 0.7);
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#imgBestMovie{
    min-width: 230px;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5%;


}
#infoMmovie{
    color: white;
    margin-left: 15%;
    width: 40%;

}
#infoMmovie h1{
    font-size: 5em;
}
#infoMmovie p{
    font-size: em;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
    
}
#infoMmovie button{
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
    background-color: red;
    font-weight: bold;

    font-size: 1em;
}

/* -------- CSS catégories -------- */
.containerCarrousel{
    position: relative;
    overflow: hidden;
    
      
}
#tilteCategorie{
    text-align: center;
    margin-top: 50px;
}
.carrousel{
    display: flex;
    transition : transform 0.5s;

}
.divMovie{
    min-width: 20%;
    background-size:cover;
    background-position: center;
    margin-left: 4%;
    border-radius: 5%;
}
.divMovie:hover {
    box-shadow: rgba(200, 200, 200, 0.25) 0px 54px 55px,
                rgba(200, 200, 200, 0.12) 0px -12px 30px,
                rgba(200, 200, 200, 0.12) 0px 4px 6px,
                rgba(200, 200, 200, 0.17) 0px 12px 13px,
                rgba(200, 200, 200, 0.09) 0px -3px 5px;

}

#goRight, #goLeft {
    position: absolute;
    right: 0.5%;
    width: 3%;
    height: 15%;
    background: white url(datas/image/next-svgrepo-com.svg) center no-repeat;
    opacity: 20%;
    background-size: 20px 20px;
    border-radius: 20%;
    bottom: 30%;
    cursor: pointer;
    transition: 0.5s;
}
#goLeft {
    background: #FFF url(datas/image/previous-svgrepo-com.svg) center no-repeat;
    left: 0.5%;
    bottom: 30%;
}

#goRight:hover, #goLeft:hover {
    transform: scale(1.2);
    opacity: 0.8;
    
}
    


